@font-face {
    font-family: "Nunito";
    font-weight: 100;
    src: url(../fonts/Nunito-ExtraLight.ttf);
}
@font-face {
    font-family: "Nunito";
    font-weight: 200;
    src: url(../fonts/Nunito-Light.ttf);
}
@font-face {
    font-family: "Nunito";
    font-weight: 300;
    src: url(../fonts/Nunito-Regular.ttf);
}
@font-face {
    font-family: "Nunito";
    font-weight: 600;
    src: url(../fonts/Nunito-SemiBold.ttf);
}
@font-face {
    font-family: "Nunito";
    font-weight: 700;
    src: url(../fonts/Nunito-Bold.ttf);
}
@font-face {
    font-family: "Nunito";
    font-weight: 800;
    src: url(../fonts/Nunito-ExtraBold.ttf);
}
@font-face {
    font-family: "Nunito";
    font-weight: 900;
    src: url(../fonts/Nunito-Black.ttf);
}


@font-face {
    font-family: "Zizou-Slab";
    src: url(../fonts/Zizou\ Slab-Black.otf);
}


@font-face {
    font-family: "Canela";
    font-weight: 100;
    src: url(../fonts/CanelaText-Thin-Trial.otf);
}
@font-face {
    font-family: "Canela";
    font-weight: 200;
    src: url(../fonts/CanelaText-Light-Trial.otf);
}
@font-face {
    font-family: "Canela";
    font-weight: 500;
    src: url(../fonts/CanelaText-Regular-Trial.otf);
}
@font-face {
    font-family: "Canela";
    font-weight: 600;
    src: url(../fonts/CanelaText-Medium-Trial.otf);
}
@font-face {
    font-family: "Canela";
    font-weight: 700;
    src: url(../fonts/CanelaText-Bold-Trial.otf);
}
@font-face {
    font-family: "Canela";
    font-weight: 900;
    src: url(../fonts/CanelaText-Black-Trial.otf);
}